<div class="header">
  <h1 class="indigo-text lighten-5-text text-shadow bold">My Secrets</h1>


	<div class = "row">
		<div class="col s10 offset-s1">
			<h5 class="thin">Your Private, Secure, & Affordable Digital Locker.</h5>
		</div>
	</div>


  <div class = "divider"></div>
  <br>

<div class ="valign-wrapper">
    <div class="card-panel row lighten-5 blue-grey z-depth-1">
      <div class="col m8 s12">
        <h4>What would happen if you disappeard or passed away suddenly...</h4>
        <p class="flow-text deep-purple-text text-darken-3">
          <br>
          <i>
            Would your friends and family know every last wish?
          </i>
        </p>
        <br>
        <p class="flow-text">
          What would happen to your online account passwords, letters, financial imformation and instructions for others?
      </p>
      </div>
      <div class="col m4 s12">
        <%= image_tag("fam.jpg", :alt => "rss feed", class:"responsive-img") %>
      </div>
    </div>
</div>
  <div class="section">

    <h3 class="indigo-text lighten-5-text">We manage your digital legacy.</h3>
    <div class = "divider"></div>

    <div class="row">

      <div class="col m4 s12 center">
        <br>
        <h1 class="center">
          <i class="fa fa-lock"></i>
        </h1>

        <h4 class="heavy-font">
          Secure System
        </h4>


          <h6 class="light deep-purple-text text-darken-4">
            Our security is based on the Payment Card Industry security standards. Even if our system is breached your secrets are encrypted. You can trust that your secrets will never unwillingly be read.
          </h6>
      </div>

      <div class="col m4 s12 center">
        <br>
        <h1 class="center">
          <i class="fa fa-check"></i>
        </h1>

        <h4 class="heavy-font">
          Easy to Use
        </h4>

          <h6 class="light deep-purple-text text-darken-4">
            Add your Secrets
            <br>
            Check in Monthly
            <br>
            Pay $30 Yearly
            <br>
            Worry Free
          </h6>
      </div>

      <div class="col m4 s12 center">
        <br>
        <h1 class="center">
          <i class="fa fa-bell"></i>
        </h1>

        <h4 class="heavy-font">
          Notifications
        </h4>

          <h6 class="light deep-purple-text text-darken-4">
            We will be sure to notify your chosen recipients when you have gone inactive. Your secrets will be delivered weekly until reciept has been confirmed.
          </h6>
      </div>
    </div>


</div>
<div class = "italic center">
	<p>My Secrets is not responsible for anything that occurs as a result of using this service. We will do our best to keep your Secrets safe but it is up to you to check in </p>
</div>
</div>
