<div class="header card-panel">


  <h1 class="indigo-text lighten-5-text text-shadow bold">My Secrets</h1>


	<div class = "row">
		<div class="col s10 offset-s2">
			<h5 class="thin">Your Private and Secure Digital Locker.</h5>
		</div>
	</div>


<div class = "divider"></div>
<div class="section">


  <h4>What would happen if you suddenly disappeard or passed away?</h4>

	<div class="card-panel col s12 lighten-5 blue-grey">
    <p class="flow-text">
      What would happen if you suddenly disappeard or passed away?
    </p>
	</div>







</div>
<div class = "italic center">
	<p>My Secrets is not responsible for anything that occurs as a result of using this service. We will do our best to keep your Secrets safe but it is up to you to check in </p>
</div>
