<div class="section" id="index-banner">
  <div class="blue-grey lighten-4 inset-shadow">
    <br><br>
    <h1 class="header center indigo-text lighten-5-text text-shadow bold">My Secrets</h1>

    <div class="row center">
      <h4 class="header col s12 light">The digital locker for all of your Secrets</h4>
    </div>
    <div class="row center">
      <div class="header col s6 offset-s3 blue-grey lighten-5 card-panel hoverable">
        <img class="responsive-img secrets" src="http://i.imgur.com/i0yw66f.png">
          <h6 class="italic indigo-text lighten-5-text">"There are no secrets that time does not reveal." - Jean Racine</h6>
      </div>
    </div>
    <div class="row center">
      <!-- Modal Trigger -->
      <a href="#modal1" id="download-button" class="btn-large waves-effect waves-light  deep-purple darken-3 z-depth-3 modal-trigger"><i class="fa fa-eye"></i> Authenticate </a>
    </div>

    <br><br>
  </div>
</div>



<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Login</h4>
      <div class="row center">
        <a href="/auth/facebook" class=" indigo darken-3 waves-effect waves-green btn"><i class="fa fa-facebook"></i> Facebook</a>
      </div>
      <div class="row center">
        <a href="/auth/google" class=" red darken-4 waves-effect waves-green btn"><i class="fa fa-google-plus"></i>&nbsp&nbsp Google</a>
      </div>
  </div>
  <div class="modal-footer center">
    <h6 class="italic light">My Secrets does not store your password and will never access, post, or view anything your account.</h6>
  </div>
</div>




<!-- <div class="secrets_info">
  <div class="secrets_text">
    <h1 class="title">My Secrets</h1><h1>The digital locker for all your secrets. In the event that you are not able to access your account we will make sure that your secrets are delivered to their respectful recipients. We will help you plan your digital legacy. Open your account before it’s too late.</h1>
  </div>
</div> -->
