<div class="section">
  <div class="white inset-shadow">
    <br>
    <h1 class="header center indigo-text lighten-5-text text-shadow bold">My Secrets</h1>

    <div class="row center">
      <h4 class="header col s12 light">The secure digital locker for all of your Secrets</h4>
    </div>
    <div class="row center">
      <div class="col s6 m6 offset-m3 offset-s3">

      <a href="/about" class="btn-large waves-effect waves-light blue-grey darken-3 col s12 m4 offset-m1 z-depth-1"> Learn More </a>

      <div class="col m2">&nbsp</div>
      <!-- Modal Trigger -->
      <!-- <div class="col s4 m3 offset-m3"> -->
    <a href="#modal1" id="download-button" class="btn-large waves-effect waves-light  deep-purple darken-3 z-depth-3 modal-trigger col s12 m4"><i class="fa fa-lock"> &nbsp</i> <b>Authenticate</b> </a>

      <!-- </div> -->
      <!-- <div class="col s4 m3">
      <a href="#modal1" id="download-button" class="btn-large waves-effect waves-light  deep-purple darken-3 z-depth-3 modal-trigger"><i class="fa fa-eye"></i> Authenticate </a>
    </div> -->
    </div>
    </div>

    <div class="row center">
      <div class="header col s6 offset-s3 grey lighten-4 card-panel z-depth-1">
        <img class="responsive-img secrets" src="https://i.imgur.com/i0yw66f.png"></img>
          <h6 class="italic indigo-text lighten-5-text">"There are no secrets that time does not reveal." - Jean Racine</h6>
      </div>
    </div>
    <br>
  </div>
</div>
