<div class="card-panel col s12 lighten-5 blue-grey inset-shadow secret-form center">
	<h2> Please check your email for a one time password</h2>
	<br>
	<div class="card-panel">
	<br>
	<div class="row">
		<div class="input-field col s12 m8 offset-m2">

    <%= form_tag do %>
      <%= text_field_tag(:token)%>
			<label for="Token" data-error="wrong" data-success="right">Token</label>
			<div class="row">
	    <%= submit_tag "Login", class: "btn btn-large otp" %>
		</div>
    <% end %>
	</div>
    </div>
  </div>
</div>
