<div class="card-panel col s12 lighten-5 blue-grey inset-shadow secret-form center">
	<div class="card-panel modify">
	<br>
	<div class="row">

    <%= form_tag do %>
      <%= label_tag(:token, "One Time Token") %>
      <%= text_field_tag(:token) %>
      <%= submit_tag "Login", class: "btn waves-effect waves-light deep-purple" %>
    <% end %>
    </div>
  </div>
</div>
