<div class="card-panel col s12 lighten-5 blue-grey inset-shadow secret-form center">
	<div class="card-panel modify">
	<br>
	<div class="row">

		<%= form_for @post, :html => {:class => "col s12"}  do |f| %>

			<div class="row">
				<div class="input-field col s12">
					<label for="Secret title">Secret Title</label>
					<br>
					<%=f.text_area :title, label:"Secret Title", class:"validate", class:"materialize-textarea"%>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
				<label for="Secret">The Secret</label>
				<br>
				<%= f.text_area :description, label: "Secret Details:", class:"materialize-textarea"%>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<label for="Recipients" id="recipients">Recipient emails</label>
					<br>
					<% emails = []	%>
					<% @post.recipients.each do |recipient| %>
					<% emails << recipient.email %>
					<% end %>

			 			<%= f.text_field :emails, value: emails.join(','),'data-role' => 'tagsinput', id:"tags", class:'form-control' %>

				</div>

			</div>
		</div>
	</div>
	<button class="btn waves-effect waves-light deep-purple" type="submit" name="action">Save Secret
		<i class="fa fa-user-secret"></i>
	</button>
	<% end %>
</div>

<script>


</script>


<!-- <div class="input-field col s6">
				 <input placeholder="Placeholder" id="first_name" type="text" class="validate">
				 <label for="first_name">First Name</label>
</div> -->
