<div class="">
  <div id="hidden" style="display:none"><%=@current_ouser.id%></div>
  <div id="hidden" style="display:none" class="maptrigger"></div>

<%= render 'posts' %>
<div class = "italic center">
	<p>"Secrets are things we give to others to keep for us." - Elbert Hubbard</p>
</div>
</div>
