

<h1>Secrets</h1>
<%= render 'layouts/ok_new' %>
	<div id="accordion">
		<% @posts.each do |post| %>
			<h3><%= post.title %> </h3>
				<div>
					<br>
						<p>	<%= post.description %></p>
						<% post.recipients.each do |r| %>
						<p><%=r.email%>
							<%end%>
						</p>

					<br>
				</div>
		<%end%>
 	</div>
