/*
 *= require_self
 *= require bootstrap-tagsinput
*/



@import "font-awesome-sprockets";
@import "font-awesome";

//iphone 6
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #new-secret{
      margin-bottom: 10px;
    }
}

//iphone 6+
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

  #new-secret{
    margin-bottom: 0px;
  }
}

//all other smaller devices
@media (max-width: 320px) {

  #new-secret{
    margin-bottom: 10px;
  }

 }

 body {
   overflow-y: scroll;
 }


.italic{
  font-style: italic;
}

// #tags{
//   display: inline !important;
// }

.inset-shadow{
  -webkit-box-shadow: inset -2px -4px 4px 3px rgba(0,0,0,0.72);
  -moz-box-shadow: inset -2px -4px 4px 3px rgba(0,0,0,0.72);
  box-shadow: inset -2px -4px 4px 3px rgba(0,0,0,0.72);

}

a[href^="https://maps.google.com/maps"]{display:none !important}


.text-shadow{
    text-shadow: rgba(0, 0, 0, 0.72) 0.1vw 0.1vw 0.2vw;
}


.modal{
      width: 43%;
}

.secrets{
    margin: 12px;
}

.map{
      margin-bottom: 18px;
}

.modify{
  padding-top: 12px;
  text-align: center;
}

.fa-trash-o {
    color: black;
}

.secret-form{
  padding:34px;
  margin-top: 24px;
}

.secrets-acc{
  margin-bottom: 10%;
}


.bootstrap-tagsinput {
  width: 100% !important;
}

.secrets_img{
  -webkit-animation: blink 5s infinite;
    -moz-animation:    blink 5s infinite;
    -o-animation:      blink 5s infinite;
    animation:         blink 5s infinite;
    opacity: .6;

}

.sessions{
  background: rgba(121,124,153,1);
  background: -moz-linear-gradient(top, rgba(121,124,153,1) 0%, rgba(71,72,108,0.99) 2%, rgba(42,41,46,0.85) 57%, rgba(42,41,46,0.71) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(121,124,153,1)), color-stop(2%, rgba(71,72,108,0.99)), color-stop(57%, rgba(42,41,46,0.85)), color-stop(100%, rgba(42,41,46,0.71)));
  background: -webkit-linear-gradient(top, rgba(121,124,153,1) 0%, rgba(71,72,108,0.99) 2%, rgba(42,41,46,0.85) 57%, rgba(42,41,46,0.71) 100%);
  background: -o-linear-gradient(top, rgba(121,124,153,1) 0%, rgba(71,72,108,0.99) 2%, rgba(42,41,46,0.85) 57%, rgba(42,41,46,0.71) 100%);
  background: -ms-linear-gradient(top, rgba(121,124,153,1) 0%, rgba(71,72,108,0.99) 2%, rgba(42,41,46,0.85) 57%, rgba(42,41,46,0.71) 100%);
  background: linear-gradient(to bottom, rgba(121,124,153,1) 0%, rgba(71,72,108,0.99) 2%, rgba(42,41,46,0.85) 57%, rgba(42,41,46,0.71) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#797c99', endColorstr='#2a292e', GradientType=0 );
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.posts{
  height: 100vh;
  background: rgba(36,34,38,0.45);
  background: -moz-linear-gradient(top, rgba(36,34,38,0.45) 0%, rgba(36,34,38,0.85) 43%, rgba(71,60,93,0.99) 98%, rgba(81,71,108,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,34,38,0.45)), color-stop(43%, rgba(36,34,38,0.85)), color-stop(98%, rgba(71,60,93,0.99)), color-stop(100%, rgba(81,71,108,1)));
  background: -webkit-linear-gradient(top, rgba(36,34,38,0.45) 0%, rgba(36,34,38,0.85) 43%, rgba(71,60,93,0.99) 98%, rgba(81,71,108,1) 100%);
  background: -o-linear-gradient(top, rgba(36,34,38,0.45) 0%, rgba(36,34,38,0.85) 43%, rgba(71,60,93,0.99) 98%, rgba(81,71,108,1) 100%);
  background: -ms-linear-gradient(top, rgba(36,34,38,0.45) 0%, rgba(36,34,38,0.85) 43%, rgba(71,60,93,0.99) 98%, rgba(81,71,108,1) 100%);
  background: linear-gradient(to bottom, rgba(36,34,38,0.45) 0%, rgba(36,34,38,0.85) 43%, rgba(71,60,93,0.99) 98%, rgba(81,71,108,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242226', endColorstr='#51476c', GradientType=0 );
}


.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

#googleMap{

  width: 100%;
  height: 100%;
}

.map{
  width: 79vw;
  height: 162px;
}

@-webkit-keyframes blink {
  0%   { opacity: .5; }
  50%  { opacity: .9;}
  100% { opacity: .5; }
}
@-moz-keyframes blink {
  0%   { opacity: .5; }
  50%  { opacity: .9;}
  100% { opacity: .5; }
}
@-o-keyframes blink {
  0%   { opacity: .5; }
  50%  { opacity: .9;}
  100% { opacity: .5; }
}
@keyframes blink {
  0%   { opacity: .5; }
  50%  { opacity: .9;}
  100% { opacity: .5; }
}

.glyphicon.glyphicon-briefcase {
  text-align: center;
  top: 2vh;
  color: lightgrey;
  font-size: 4vh;
}
