<div class="ui inverted menu">
  
  <a <%= link_to "Posts", posts_path, class: 'active item' %>></a>
  <!-- <a href="posts" class="active item"> -->
    <i class="home icon"></i> Home
  <!-- </a> -->
  <a href="posts" class="item">
    <i class="fa fa-diamond"></i> Secrets
  </a>
  <a href="users" class="item">
    <i class="fa fa-user-secret"></i> Account
  </a>
  <a href='/auth/facebook' class="item">
    <i class="fa fa-user-secret"></i> Facebook
</ul>
</div>
