<div class="ui inverted menu">
  <a href="posts" class="active item">
  <%= link_to "Posts", posts_path class: active item %>
    <i class="home icon"></i> Home
  </a>
  <a href="posts" class="item">
    <i class="fa fa-diamond"></i> Secrets
  </a>
  <a href="users" class="item">
    <i class="fa fa-user-secret"></i> Account
  </a>
</div>
