<div class="ui inverted menu">


  <a class="item" <%=link_to"Home", root_path, class:'fa fa-diamond' %>>Home

  </a>
  <a href="posts" class="item">
    <i class="fa fa-diamond"></i> Secrets
  </a>
  <a href="users" class="item">
    <i class="fa fa-user-secret"></i> Account
  </a>
</div>


<%#= link_to "Posts", posts_path, class: 'active item' %>
