<div class="ui inverted menu">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <i class="fa fa-diamond"></i> Secrets
  </a>
  <a class="item">
    <i class="fa fa-user-secret"></i> Account
  </a>
</div>
