
<div class="navbar-fixed">
   <nav class="indigo darken-4">
     <div class="nav-wrapper container">
       <div class="left">
         <a class="logo" href="/posts"><i class="fa fa-lock"> Secrets</i></a>
      </div>
      <div class="right">
         <% if current_ouser %>
           <ul>
             <a class="fa fa-sign-out" rel="nofollow" data-method="delete" href="/logout">Log Out</a>
           </ul>
         <% else %>
         <% end %>
      </div>
     </div>
   </nav>
 </div>
