<!-- <div class="new_ok_btn"> -->
  <!-- <h2> -->
  <%= link_to'<i class="fa fa-plus"> New Secret</i>'.html_safe, new_post_path, class:'ui black button inverted large'  %>

  <% if current_ouser.posts.size > 0 %>

    <a class = "ui blue button large invert" id ="okbtn" >
      <i class ="" id='spinner' ></i>
    </a>

  <% end %>

  <p id="location"></p>

  <!-- </h2> -->
<!-- </div> -->
<!-- data: {confirm: "Good To hear from you!"},  -->
