
<h2>
  <%= link_to "", new_post_path, class: 'fa fa-plus-square b'  %>

  <button class ="fa fa-refresh b", id ="okbtn" > "I Am Ok" </button>
  	<p id="location"></p>
</h2>
<!-- data: {confirm: "Good To hear from you!"},  -->
